.attendance-list {
    max-width: 900px;
    margin: 60px auto;
}

.attendance-list__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-left: 15px;
    border-left: 8px solid #000;
}

.attendance-list__date-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border-radius: 8px;

    padding: 15px 25px;
    margin-bottom: 40px;
}

.attendance-list__prev,
.attendance-list__next {
    text-decoration: none;
    color: #666;
    font-weight: 700;
}

.attendance-list__date {
    font-weight: 700;
    font-size: 18px;
}

.attendance-list__table-wrapper {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.attendance-list__table {
    width: 100%;
    border-collapse: collapse;
}

.attendance-list__table th,
.attendance-list__table td {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.attendance-list__table th {
    color: #666;
    font-weight: 700;
}

.attendance-list__table td a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}